/* Main Styles */

h1 {
    font-family:  Roboto Black;
    font-size: 100px;
    color: #4f4d53;
}

h2 {
    font-family:  Roboto Black;
    font-size: 64px;
    color: #e8be02;
    margin-bottom: 60px;
}

h3 {
    font-family:  Roboto Black;
    font-size: 20px;
    color: #e8be02;
    margin-bottom: 20px;
}

h4 {
    font-family:  Roboto Regular;
    font-size: 14px;
    color: #ffffff;
}

p {
    font-family:  Roboto Regular;
    font-size: 20px;
    color: #4f4d53;
}

/* NavBar */

nav {
    height: 48px;
    width: 100%;
    margin: 0;
    background-color: #4F4D53;
    display: flex;
    align-items: center;
}

.title {
    margin-left: 100px;
}

/* Main */

.jumbotron {
    background-image: url('./media/img_hero.jpg');
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.description-container {
    height: 600px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description-container_text {
    width: 50%;
    display: block;
    margin: auto;
}

/* Footer */

footer {
    border-top: 12px solid #e8be02;
    height: 320px;
    width: 100%;
    background-color: #4f3d53;
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}